node_modules
.env

# EXTRAMENTE IMPORANTE COLOCAR O ARQUIVO .env NO GIT IGNORE PARA NAO DIVULGAR 
# INFORMACOES DO BANCO DE DADOS DA EMPRESA NO GIT

# O GIT NÃO FOI INICIALIZADO NESSE PROJETO, SO TEM O ARQUIVO MESMO, POR ISSO PODE SER 
# ENVIADO PARA O REPOSITORIO GIT DE EXERCICIOS